html,
body {
    /* background-color: #EAE7DC; */
    background: rgb(42, 0, 85);
    background: linear-gradient(
        146deg,
        rgba(42, 0, 85, 1) 0%,
        rgba(110, 5, 170, 1) 51%,
        rgba(181, 21, 194, 1) 100%
    );
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.navbar {
    height: 50px;
    width: 100%;
    position: absolute;
    top: 0px;
}


.parent {
    height: 80vh;
    width: 100vw;
}
.welcome {
    height: 70vh;
    width: 40vw;

    background-color: white;
    position: absolute;
    right: 60%;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
    top: 19%;
    margin: 0px;
    padding: 0;
    z-index: 1;
}
.next_div {
    height: 60vh;
    width: 40vw;

    background: #44006b;
    position: absolute;
    left: 60%;
    -webkit-transform: translateX(-25%);
    transform: translateX(-25%);
    top: 25%;
    z-index: 2;
    margin: 0px;
}
.one-edge-shadow {
    -webkit-box-shadow: 0 8px 6px -10px black;
    -moz-box-shadow: 0 8px 6px -10px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.two-edge-shadow {
    -webkit-box-shadow: -10px 8px 6px -8px black;
    -moz-box-shadow: -10px 8px 6px -8px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.full-height {
    max-height: fit-content;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 75px;
    font-family: "Amatic SC", cursive;
    color: #e85a4f;
    top: 25%;
    width: 100%;
}
.title_shad {
    font-size: 60px;
    font-family: "Alfa Slab One", cursive;
    color: #e0d3d3;

    top: 20%;
}
.center_text {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.subtitle {
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    letter-spacing: 0.1rem;
    top: 52%;
    font-weight: 600;
}
.subtext {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    bottom: 10%;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}
/* carousel */
.carousel {
    width: 90%;
    border: 1px solid white;
    height: 90%;
    top: 5%;
}
.mySlides {
    display: none;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 55%;
    width: 80%;
    text-align: center;

    letter-spacing: 0.1rem;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
img {
    width: 200px;
    position: absolute;
    top: 20%;
}

/* button */
.buttons {
    height: 100%;
    width: 100%;
}
.register {
    background-color: #f0c023;
    color: white;
    transition-duration: 0.4s;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    letter-spacing: 0.1rem;
    position: absolute;
    bottom: 23%;
    outline: none;
}

.register:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.login {
    position: absolute;
    bottom: 7%;
    color: white;
    font-size: 15px;
    width: 100%;
}

.log-text {
    color: #f0c023;
}
.bg {
    top: 37%;
    width: 60%;
    opacity: 0.8;
}
.print {
    color: white;
    font-size: 100px;
    top: 30%;
}

.welcome_msg {
    margin-top: 0;
    color: #f0c023;
}
